* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.component {
    /* min-width: 100px; */
    width: 15%;
    /* height: 40px; */
    border: 2px solid black;
    padding: 20px;
}